.idea/
*.natvis

build/
CMakeCache.txt
CMakeFiles/
CTestTestfile.cmake
Makefile
cmake_install.cmake
kalqlator
kalqlator_autogen/
tests/CMakeFiles/
tests/CTestTestfile.cmake
tests/Makefile
tests/cmake_install.cmake
tests/test_lisp_comparison
tests/test_lisp_comparison_autogen/
tests/test_lisp_equality
tests/test_lisp_equality_autogen/
tests/test_lisp_evaluator
tests/test_lisp_evaluator_autogen/
tests/test_lisp_if
tests/test_lisp_if_autogen/
tests/test_lisp_lambda
tests/test_lisp_lambda_autogen/
tests/test_lisp_parser
tests/test_lisp_parser_autogen/
tests/test_lisp_progn
tests/test_lisp_progn_autogen/
tests/test_lisp_quote
tests/test_lisp_quote_autogen/
tests/test_lisp_setq
tests/test_lisp_setq_autogen/
tests/test_lisp_tokenizer
tests/test_lisp_tokenizer_autogen/
tests/test_location
tests/test_location_autogen/
*.cmake
Testing/
